body {
  width: 100%;
  max-width: 100%;
  font-family: "Futura Medium C", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #646464;
}

.main {
  position: relative;
  
  &::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: url(../img/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    .transition();
  }
}

.main--brief::before,
.main--scroll::before {
  filter: blur(40px);
  .transition();
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
}

textarea,
input,
button {
  font: inherit;
  border: none;
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 30px;
  color: #000;
  font-weight: 400;
}

h3 {
  margin-bottom: 20px;
  color: #000;
  font-size: 20px;
  margin-top: 0;
  font-weight: 400;
}
