.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  font-size: 19px;
  letter-spacing: 0.025em;
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  .transition();
  
  &:hover,
  &:active {
    background-color: red;
    color: #fff;
    .transition();
  }
}
