.promo {
  position: relative;
}

.promo__wrap {
  width: 1530px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  margin-top: 0;
  margin-bottom: 65px;
  color: #000;
  font-size: 42px;
  line-height: 45px;
  
  a {
    color: red;
  }
}

.promo__play {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 0px 56.05px 2.95px rgba(0, 0, 0, 0.11);
  background-image: url(../img/play.png);
  background-repeat: no-repeat;
  
  &::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 48px;
    width: 34px;
    height: 37px;
    background-image: url(../img/icon-play.png);
    background-repeat: no-repeat;
  }
}
